{{> head }}
{{> navbar }}


<div class="row">
   <div class="col-8">
      <h1>EXAMPLE</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quidem in ipsa, asperiores maiores earum nobis amet obcaecati nostrum dolores voluptatibus sapiente, corporis nulla hic dolor, rerum pariatur odit quasi.</p>
   </div>
   <div class="col-4">
      <img src="assets/img/himalaya.jpg" class="img-thumbnail" alt="himalayas">
   </div>

</div>

{{> footer }}